@font-face {
  font-family: Avenir;
  src: url('./fonts/AvenirLTStd-Book.otf');
}

* {
  font-family: Avenir, sans-serif;
  box-sizing: border-box;
}

$warning: #ff9f00;
$danger: #ff0000;

.hero-section {
  background-image: url('./images/background.png');
}

.start-5 {
  left: 5%;
}
